body {
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    padding: 30px;
}

.product-item {
    max-width: 300px;
    margin: auto;
    margin-bottom: 2rem;
    cursor: pointer;
}

.product-item:hover {
    transform: scale(1.1);
}

.footer-items h5 {
    color: white;
    font-size: 1rem;
}

.footer-items ul {
    list-style: none;
    padding: 0;
    font-size: 0.8rem;
}

.footer-items a {
    color: #ccc;
    text-decoration: none;
}

.footer-items a:hover {
    text-decoration: underline;
}

.login-box {
    background-color: #eee;
    border-radius: 20px;
    padding: 2rem;
}

.text-small {
    font-size: 0.8rem;
}

.cart-badge {
    position: relative;
    top: -15px;
    left: -10px;
}

.search-form input,
.search-form button {
    border-radius: 0;
}

.nav-item:hover {
    background-color: #ffffff33;
}

.card-text.price {
    color: rgb(255, 111, 0);
}

.subscribe input,
.subscribe button {
    border-radius: 0;
}

.social-icons i {
    font-size: 1.5rem;
    width: 24px;
    height: 24px;
    margin-top: -0.8rem;
}

.social-icons button {
    border-radius: 50% !important;
    width: 2.5rem;
    height: 2.5rem;
}